:root {
      --dark-color:#19283f;
      --green-color: #33d1cc;
      --main-color:#10cab7;
      --secondary-color:#2c4755;
      --section-padding : 60px;
      --section-background:#f6f6f6;
}
body {
    font-family: 'roboto', sans-serif;
    
}
/*small*/
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
/*medium*/
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/*large*/
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
/*start components*/
.special-heading{
    color: #ebeceb;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: 30px;
    margin: 0;
}
.special-heading + p{
    margin: -30 0 0;
    font-size: 20 px;
    text-align: center;
    color: #797979;
}
@media (max-width:767px){
    .special-heading{
        font-size: 60px;

    }
    .special-heading + p{
        margin-top: -20px;
    }
}
/*End components*/
/*start Navdar*/
  .navbar {
 background-color: var(--dark-color);
  }
  .navbar .navbar-nav .nav-link {
      color: wheat;
  }
  .navbar .navbar-nav .nav-link.active,
  .navbar .navbar-nav .nav-link:focus,
  .navbar .navbar-nav .nav-link:hover {
     color: var(--wheat-color);
  }
  .navbar .search{
     border-left: 1px solid var(--green-color);
  }
  navbar .search svg{
   color: var(--green-color);
  }
   .navbar .search{
     border: 1px solid var(--green-color);
  }
   .navbar .search svg{
      color: var(--dark-color-color);;
   }
   .navbar .navbar-toggler {
    color: white;
    font-size: 25px;
    border-bottom-color: white;
   }
/*End Navdar*/
/*start landing */
.landing {
    background-image: url(../images/تنزيل\ \(13\).jpeg) ;
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
}
.landing .intro-text p {
font-size: 19px;
line-height: 1.8;
}
/*End landing*/

/*start features*/
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}
.features .feat{
    padding: 20px;
    text-align: center;
}
.features .feat i {
    color: var(--main-color);
}
.features .feat h3{
font-weight: 800;
margin: 30px 0;
}
.features .feat p{
line-height: 1.8;
color: #777;
font-size: 17px;
}
/*End features*/
/*start services*/
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px){
    .services .services-content .srv{
     flex-direction: column;
     text-align: center;
    }   
}
.services .services-content .srv .i{
color: var(--main-color);
flex-basis: 60px;
}
.services .services-content .srv .text{
flex: 1;
}
.services .services-content .srv .text .h3{
margin: 0 0 20px;
}
.services .services-content .srv .text .p {
color: #444;
font-weight: 300;
line-height: 1.6;
}
.services .services-content .image {
    text-align: center;
    position: relative;
}
.services .services-content .image::before {
    content: "";

}
.services .services-content .image img {
    width: 260px;
}
/*End services*/
/*start portfolio*/
 .portfolio{
    padding: 60px;
    padding-bottom: 60px;
    background-color:var(--section-background);
 }
.portfolio .portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.portfolio .portfolio-content .card{
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .info {
    padding: 20px;
}
.portfolio .portfolio-content .card .info h3{
margin: 0;
}
.portfolio .portfolio-content .card .info p {
color: #777;
line-height: 1.6;
margin-bottom: 0;
}
/*End portfolio*/
/*start about*/
.about {
    padding-top: 60px;
    padding-bottom: calc(var(--section-padding) +60px);  
}
.about-content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before{
content:"" ;
position: absolute;
background-color: #434446;
width: 100px;
height: calc(100px +80px);
top: -40px;
left: -20px;
z-index: -1;
}
.about .about-content .image::after{
content: "";
position: absolute;
width: 120px;
height: 300px;
border-left: 80px solid var(--main-color);
border-bottom:  80px solid var(--main-color);
z-index: -1;
right: 150px;
}
@media (max-width: 991px) {
    .about .about-content .image::before 
    .about .about-content .image::after{
        display: none;
    }  
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .text{
    flex: 1;
    padding-left: 207px;
}
.about .about-content .text p:first-of-type {
font-weight: bold;
line-height: 2;
margin-bottom: 50px;
}
.about .about-content .text hr {
width: 50%;
display: inline-block;
border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
line-height: 2;
color: #777;
}
/*End about*/
/* start contact*/
  .contact{

   padding-top: var(--section-padding);
 padding-bottom: var(--section-padding);
 background-color: var(--section-background);
 text-align: center;
   }
 .contact .info{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;

 } 
 .contact .info .label{
    font-size: 30px;
    font-weight: 800;
    color: var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
 }
 .contact .info .link {
    display: block;
    font-size: 30px;
    font-weight: 800;
    color: var(--main-color);
    text-decoration: none;
 }
 .contact .info .social{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
 }
 .contact .info .social .i{
    margin-left: 10px;
    color: var(--secondary-color);
 }
 /*End contact*/  
/*start footer*/
 .footer{
    background-color: var(--dark-color);
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
 }
 .footer span{
    font-weight: bold;
    color: var(--main-color);
 }

/*end footer*/